<div>
    <p></p>
    <h3>Cart</h3>
    <p></p>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Title</td>
            <td>Quantity</td>
            <td>Price</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in cart.items">
            <td>{{item.productTitle}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.pricePerProduct + 'x' + item.quantity + '=' + item.price}}</td>
            <td>
                <button type="button" class="btn btn-danger" ng-click="removeFromCart(item.productId)">Remove</button>
            </td>
        </tr>
        <tr>
            <td>Total</td>
            <td></td>
            <td>{{cart.totalPrice}}</td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-warning" ng-click="clearCart()">Clear Cart</button>
    <p></p>
    <button type="button" class="btn btn-success" ng-click="createOrder()">Create Order</button>
</div>
